# Madinah Stores web Scaping

### Import neccesory libraries

In [103]:
import pandas as pd
from bs4 import BeautifulSoup
from time import sleep
from selenium import webdriver
import numpy as np

### Uplod the page source

In [104]:
# create browser obj 
# !you should download chromedriver  and change executable_path based on chromedriver.exe location

driver = webdriver.Chrome(executable_path='../../chromedriver/chromedriver.exe')

# url of website
driver.get('http://bluepages.com.sa/Home/CityPage/1/1385/')

sleep(5) # Delay execution for a given number of seconds to allow the page to be loaded.
html = driver.page_source # property/attribute -- Gets the source of the current page.

In [105]:
#read page by  BeautifulSoup library
soup = BeautifulSoup(html,'html')

In [106]:
# we want to load all stores 
more_button =driver.find_element_by_xpath('//*[@id="loadMore"]/a')  # selct the more button

#  so we press 'more' button until the  all stores loded
while(True):
    try:
        more_button.click()
    except:
        print("There is no more stores")
        break

There is no more stores

In [107]:
#website after uploade all data 
html2 = driver.page_source

In [108]:
#read page by  BeautifulSoup library
soup2 = BeautifulSoup(html2,'html')

### Get all stores in list

In [109]:
# list of first 9 stores have different class name 
list_of_stores = soup2.find_all('div',class_='col-lg-4 col-sm-6 panel-remove-pad')

In [110]:
# list of all  other stores
list_of_stores2 = soup2.find_all('div',class_='panel panel-info')[1:]

### Create new lists and insert  the stores info

In [111]:
# Empty lists we will appended in infos
store_name = []
store_city = []
store_number = []

In [112]:
#for the first list we itirate and append the info
for store in list_of_stores:
    store_name.append(store.find('h4').text.strip()) # name
    store_city.append(store.find('h6',class_='text-info bold SubMainCityFont').text.strip()) #city
    store_number.append(store.find('h6',class_='text-info bold SubMainFont').text.split('-')[0].strip())# number

In [113]:
#for the second list we itirate and append the info
for store in list_of_stores2:
    store_name.append(store.find('span',class_='MainLeftFont').text.strip()) # name
    store_city.append(store.find_all('left',class_='text-primary')[1].text.strip()) #city
    try:
        store_number.append(store.find_all('left',class_='text-primary')[2].text.split('-')[0].strip())# number
    except:
        store_number.append(np.nan)

### Create new dataframe and store to new excel file

In [114]:
#Create a new Data frame 
df = pd.DataFrame({'store_name':store_name,
                  'store_city':store_city,
                  'store_number':store_number})
df

                               store_name store_city store_number
0                           اوليت العربية     Riyadh    557450100
1                        الاغذية الفرنسية     Riyadh      6658402
2             مؤسسة ادرار الدولية للتجارة     Riyadh
3                     مؤسسة بازان للتجارة     Riyadh      4028423
4                   مؤسسة النباتى للتجارة     Riyadh      2312048
...                                   ...        ...          ...
2024       مؤسسة على محمد الخريش التجارية     الرياض      4500730
2025        مؤسسة على محمد الشهرى للتجارة     الرياض      4363950
2026       مؤسسة على محمد باخشوين للتجارة     الرياض   0114114330
2027  مؤسسة عواد سالم الشمرى للتجارة  فرع     الرياض      2318644
2028          مؤسسة عوالم الخليج  للتجارة     الرياض      4780784

[2029 rows x 3 columns]

In [115]:
#Save The Data Frame 
df.to_excel('Ryiadh_stores.xlsx')

### We are Done!